<div class="backscreen">
  <div class="wrapper">
    <div class="side-bar">
      <div class="side-bar-upper">
        <h2><%= current_user.nickname %></h2>
      </div>
      <div class="side-bar-lower">
        <% if user_signed_in? && @trip.user_ids.include?(current_user.id) %> 
          <ul>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
            <li><%= link_to 'アカウント設定', "#" %></li>
            <li><%= link_to 'リスト項目作成', new_trip_list_item_path(@trip.id, @list.id) %></li>
            <li><%= link_to 'リスト編集', edit_trip_list_path(@trip.id, @list.id) %></li>
            <li><%= link_to 'リスト削除', trip_list_path(@trip.id, @list.id), method: :delete %></li>
            <li><%= link_to 'しおり詳細へ戻る', trip_path(@trip.id) %></li>
            <li><%= link_to 'しおり一覧へ戻る', root_path %></li>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="main-container">
      <% breadcrumb :list, @list %>
      <%= breadcrumbs separator: " &rsaquo; " %>
      <div class="list-titile">
        <h1><%= @list.name %></h1>
        <h3><%= @trip.name %></h3>
      </div>
    
      <div class="list-details">
        <div class="trip-created-at">
          <p>作成日:<%= l @list.created_at, format: :day  %></p>
        </div>
        <div class="list-details-items">
          <% if @list.text.present? %>
            <div class="details-title">概要</div>
            <p><%= @list.text %></p>
          <% end %>
        </div>
      </div>

      <div class="items-container">
        <ul class="item-lists">
          <% @items.each do |item| %>
            <li class='item-list'>
              <div class="item-info">
                <div class="item-checked" data-id-1=<%= item.list.trip_id %> data-id-2=<%= item.list_id %> data-id-3=<%= item.id %> data-check=<%= item.checked %>>
                  <div class="item-info-left" id="check-box">
                    □
                  </div>
                
                  <div class="item-info-center">
                    <p class="item-info-name"><strong><%= item.name %></strong></p>
                    <p class="item-info-text"><%= item.text %></p>
                  </div>
                </div>
                <div class="item-info-right">
                  <ul>
                    <li><%= link_to '編集', edit_trip_list_item_path(@trip.id, @list.id, item.id) %></li>
                    <li><%= link_to '削除', trip_list_item_path(@trip.id, @list.id, item.id), method: :delete %></li>
                  </ul>
                </div>
              </div>
            </li>
          <% end %>
        </ul> 

      </div>
    </div>

  </div>
</div>
