<div class="backscreen">
  <div class="wrapper">
    <div class="side-bar">
      <div class="side-bar-upper">
        <h2><%= current_user.nickname %></h2>
      </div>
      <div class="side-bar-lower">
        <% if user_signed_in? && @trip.user_ids.include?(current_user.id) %> 
          <ul>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
            <li><%= link_to 'アカウント設定', "#" %></li>
            <li><%= link_to 'スケジュール作成', new_trip_schedule_path(@trip.id) %></li>
            <li><%= link_to 'リスト作成', new_trip_list_path(@trip.id) %></li>
            <li><%= link_to 'しおり編集', edit_trip_path(@trip.id) %></li>
            <li><%= link_to 'しおり削除', trip_path(@trip.id), method: :delete %></li>
            <li><%= link_to 'しおり一覧へ戻る', root_path %></li>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="main-container">
      <% breadcrumb :trip, @trip %>
      <%= breadcrumbs separator: " &rsaquo; " %> 
      <div class="trip-title">
        <h1><%= @trip.name %></h1>
      </div>
      <div class="trip-details">
        <div>
          <p>作成日:<%= l @trip.created_at, format: :day  %></p>
        </div>
        <div class="trip-details-items">
          <div class="details-title">概要</div>
          <p><%= @trip.text %></p>
        </div>
        <div class="trip-details-items">
          <div class="details-title">目的地</div>
          <p><%= @trip.destination %></p>
        </div>
        <div class="trip-details-items">
          <div class="details-title">旅行期間</div>
          <p><%= @trip.start_day %> 〜 <%= @trip.finish_day %></p>
        </div>
        <div class="trip-details-items">
          <div class="details-title">参加メンバー</div>
          <p>
            <% @members.each do |member| %>
              <%= member.nickname %>
            <% end %>
          </p>
        </div>
        <% if @trip_cost != 0 %>
          <div class="trip-details-items">
            <div class="details-title">旅行の予算(円/人)</div>
            <p><%= number_with_delimiter @trip_cost %>円/人</p>
          </div>
        <% end %>
      </div>


      <div class="schedules-container">
        <ul class="schedule-lists">
          <% @schedules.each do |schedule| %>
            <li class='schedule-list'>
              <%= link_to trip_schedule_path(@trip.id, schedule.id) do %>
                <div class="schedule-info">
                  <p class="schedule-name"><strong><%= schedule.name %></strong></p>
                  <p class="icon-name">schedule</p>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>   
      </div>


      <div class="lists-container">
        <ul class="list-lists">
          <% @lists.each do |list| %>
            <li class='list-list'>
              <%= link_to trip_list_path(@trip.id, list.id) do %>
                <div class="list-info">
                  <p class="list-name"><strong><%= list.name %></strong></p>
                  <p class="icon-name">list</p>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>



    </div>

  </div>
</div>

