<div class="backscreen">
  <div class="wrapper">
    <div class="side-bar">
      <div class="side-bar-upper">
        <h2><%= current_user.nickname %></h2>
      </div>
      <div class="side-bar-lower">
        <% if user_signed_in? %> 
          <ul>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
            <li><%= link_to 'アカウント設定', "#" %></li>
            <li><%= link_to 'しおり作成', new_trip_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="main-container">
      <% breadcrumb :root %>
      <h1>しおり一覧</h1>
      <ul class="trip-lists">
        <% @my_trips.each do |trip| %>
          <li class='trip-list'>
            <%= link_to trip_path(trip.id) do %>
              <div class="trip-info">
                <p><strong><%= trip.name %></strong></p>
                <p>Go to : <%= trip.destination %></p>
                <p><%= trip.start_day %></p>
                <p>↓</p>
                <p><%= trip.finish_day %></p>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>




</div>


