<div class="backscreen">
  <div class="wrapper">
    <div class="side-bar">
      <div class="side-bar-upper">
        <h2><%= current_user.nickname %></h2>
      </div>
      <div class="side-bar-lower">
        <% if user_signed_in? && @trip.user_ids.include?(current_user.id) %> 
          <ul>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
            <li><%= link_to 'アカウント設定', "#" %></li>
            <li><%= link_to 'イベント作成', new_trip_schedule_event_path(@trip.id, @schedule.id) %></li>
            <li><%= link_to 'スケジュール編集', edit_trip_schedule_path(@trip.id) %></li>
            <li><%= link_to 'スケジュール削除', trip_schedule_path(@trip.id, @schedule.id), method: :delete %></li>
            <li><%= link_to 'しおり詳細へ戻る', trip_path(@trip.id) %></li>
            <li><%= link_to 'しおり一覧へ戻る', root_path %></li>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="main-container">
      <div class="schedule-titile">
        <h1><%= @schedule.name %></h1>
        <h3><%= @trip.name %></h3>
      </div>
      
      <div class="schedule-details">

        <div class="schedule-details-items">
          <div class="details-title">日付</div>
          <p><%= @schedule.day %></p>
        </div>

        <div class="schedule-details-items">
          <div class="details-title">概要</div>
          <p><%= @schedule.text %></p>
        </div>
        
        <div class="schedule-details-items">
          <div class="details-title">この日の金額</div>
          <p><%= @day_cost %>円/人</p>
        </div>
      </div>

      

      <div class="events-container">
        <ul class="event-lists">
          <% @events.each do |event| %>
            <li class='event-list'>
              <%= link_to trip_schedule_event_path(@trip.id, @schedule.id, event.id) do %>
                <div class="event-info">
                  <div class="event-info-left">
                    <p><%= event.day %></p>
                    <p><strong><%= l event.start_time, format: :short %></strong></p>
                    <p><strong>↓</strong></p>
                    <p><strong><%= l event.finish_time, format: :short %></strong></p>
                  </div>
                  <div class="event-info-right">
                    <div class="event-info-right-upper">
                      <p class="event-info-name"><strong><%= event.name %></strong></p>
                      <p class="event-info-price">
                        <% if event.price != nil %>
                          <%= event.price %>円/人
                        <% end %>
                      </p>
                    </div>
                    <div class="event-info-right-lower">
                      <div>
                        <p class="event-info-place"><%= event.place %></p>
                        <p class="event-info-text"><%= event.text %></p>
                      </div>
                      <div class="event-image-icon">
                        <% if event.images.attached? %>
                          <i class="fas fa-camera fa-2x"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul> 
      </div>
    </div>

  </div>
</div>
