<div class="trip-days">
  <h5>旅行日程：<%= @trip.start_day %> 〜 <%= @trip.finish_day %></h5>
</div>

<div class="list-main">
  <%= form_with model: [@trip, @list], local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-title">
      リスト名
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :name, class:"list-text", id:"list-name", placeholder:"例：買い物リスト" %>

    <div class="form-title">
      リスト概要
    </div>
    <%= f.text_area :text, class:"list-text", id:"list-info", placeholder:"例：自分が欲しいものと、お土産買っていく人をリスト化" %>

    <%# 作成・編集ボタン %>
    <% if @list.id != nil %>
      <div class="create-btn-contents">
        <%= f.submit "編集する" ,class:"create-btn" %>
        <%=link_to 'もどる', trip_list_path(@trip.id, @list.id), class:"back-btn" %>
      </div>
    <% else %>
      <div class="create-btn-contents">
        <%= f.submit "作成する" ,class:"create-btn" %>
        <%=link_to 'もどる', trip_path(@trip.id), class:"back-btn" %>
      </div>
    <% end %>
        
  <% end %>
</div>