<div class="backscreen">
  <div class="left-content">
    <div class="app-title">
      <h1>〜旅のしをり〜</h1>
    </div>
  </div>
  <div class="rigth-content">
    <div class='account-page'>
      <div class='account-page-upper'>
        <h2>Log in</h2>
        <%= render "devise/shared/links"%>
      </div>
      <div class='account-page-lower'>
        <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
          <div class='login-flash-message'>
            <%= flash[:notice] %>
            <%= flash[:alert] %>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label :email%>
            </div>
            <div class='field-input'>
              <%= f.email_field :email, autofocus: true%>
            </div>
            <div class='field'>
              <div class='field-label'> 
                <%= f.label :password%>
                <i>(英数字6文字以上)</i>
              </div>
              <div class='field-input'>
                <%= f.password_field :password, autocomplete: "off"%>
              </div>
            </div>
            <div class='actions'>
              <%= f.submit "Log in", class: 'btn'%>
            </div>
          </div>
        <% end %>
      </div>
    </div> 
  </div>
  
</div>
