<!DOCTYPE html>
<html>
  <head>
    <title>ShiworiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> 

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  </head>

  <body>
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
